{% extends 'base.html' %}

{% block title %} Librarian {% endblock %}


{% block internal_menu %}


<div class="menu">
	<ul>
		<li><a href="{% url librarian.views.list_people %}">People</a></li>
		<li><a href="{% url librarian.views.list_paper list_type='best' %}">Papers</a></li>
		<li><a href="{% url librarian.views.list_journal %}">Journals</a></li>
		<li><a href="{% url librarian.views.list_institution %}">Institutions</a></li>
		<li><a href="{% url librarian.views.list_country %}">Country</a></li>
	</ul>
</div>
{% endblock %}
