{% extends  'librarian/base.html' %}
{% block title %}Journal listing{% endblock %}

{% block content %}
<h1>Journal listing <span style="font-size:12px">({{ total }})</span></h1>

{{ description }}

<div id="paginator" class="top">
<div id="nav">
    <span class="step-links">
        {% if objects.has_previous %}
            <a class="previous" href="?page={{ objects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}
        </span>

        {% if objects.has_next %}
            <a class="next"  href="?page={{ objects.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>

<ul>
  {% for journal in objects.object_list %}
    <li>
      <a class="title" href="{% url librarian.views.show_journal key=journal.pk %}">{{ journal.name}}</a>
    </li>
  {% endfor %}
</ul>

<div id="paginator" class="bottom">
<div id="nav">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?page={{ objects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}
