{% extends  'librarian/base.html' %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}
 {% if object.doi %}
 <div id="publi_link">
<a href="http://dx.doi.org/{{ object.doi }}" target="_blank">Link to publisher</a>
</div>
 {% endif %}

<h2>{{ object.title }}</h2>

<h3>
{% for author in object.get_authors %} 
<a style="color:grey" href="{% url librarian.views.show_person person_id=author.pk %}">{{author.initials}} {{author.last_name}},</a>
{% endfor %}
</h3>
<div>
{% if object.journal %}
<a class="title" href="{% url librarian.views.show_journal key=object.journal.pk %}"> {{object.journal.name}} </a> {% endif %}- {{object.pubYear}}
</div>


 <br>
 <div>
<p>
{{object.abstract}}
</p>
</div>
{% endblock %}
