{% extends  'librarian/base.html' %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}
 {% if object.doi %}
<a href="http://dx.doi.org/{{ object.doi }}">Link to publisher</a>
 {% endif %}
 <br>
<h1>{{ object.title }}</h1>

<h2>
{% for author in object.get_authors %} 
<a style="color:grey" href="{% url librarian.views.show_person person_id=author.pk %}">{{author.initials}} {{author.last_name}}</a>
{% endfor %}
</h2>
<div>
<a href="{% url librarian.views.show_journal key=object.journal.pk %}"> {{object.journal.name}} </a> - {{object.pubYear}}
</div>


 <br>
 <div>
<p>
{{object.abstract}}
</p>
</div>
{% endblock %}
