{% extends  'librarian/base.html' %}
{% block title %}Paper listing{% endblock %}

{% block content %}
<h1>Synthetic Biology Papers <span style="font-size:12px">({{ total }})</span></h1>

<div id="internal">
	<ul class="menu">
		<li {% if list_type == "best" %} class="active-menu-item"{% endif %}><a href="{% url librarian.views.list_paper list_type='best' %}">Top SB papers</a></li>|
		<li {% if list_type == "recent" %} class="active-menu-item"{% endif %}><a href="{% url librarian.views.list_paper list_type='recent' %}">Recent SB papers</a></li>
		<!--<li {% if list_type == "hotest" %} class="active-menu-item"{% endif %}><a href="{% url librarian.views.list_paper list_type='hotest' %}">Hotest SB papers</a></li>-->
	</ul> 
</div>


{{ description }}
<ul>
  {% for paper in object_list %}
    <li>
      <a href="{% url librarian.views.show_paper paper_id=paper.pk %}">{{ paper.title}}</a> 
      <a style="color:magenta" href="{% url librarian.views.show_journal key=paper.journal.pk %}">{{paper.journal.short_name}}</a>  
      {{paper.pubYear}} <br>
      {% for author in paper.get_authors %} 
	<a style="color:grey" href="{% url librarian.views.show_person person_id=author.pk %}">{{author.initials}} {{author.last_name}}</a>,{% endfor %} 
    </li>
	{% endfor %}
</ul>

<div>
  {% if has_previous %}
    <a href="{% url librarian.views.list_paper list_type=list_type %}?page={{ previous }}">&lt;-previous</a>
  {% endif %}
  {% if has_next %}
    <a href="{% url librarian.views.list_paper list_type=list_type %}?page={{ next }}">next-&gt;</a>
  {% endif %}
</div>
{% endblock %}
